<%- include("home/homeHeader");  -%>

<h1> <%= post.title %>  </h1>
<pre>  <%= post.body  %>  </pre>
<a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>

<%- include("partials/footer");  -%>